.container {
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;

}

h2{
    margin-bottom: 20px;
    position: relative;
    /* left: -6vw; */
    /* align-self: flex-start; */
    /* margin-left: calc((20vw - 270px) / 2); */
}

button{
    border-radius: 10px;
    /* padding: 10px; */
    border-color: #e6e6e6;
    height: 33px;
    background-color: #e6e6e6;
    width: 150px;
}

.createbutton:hover{
    background-color: #9c9c9c;
    border-radius: 10px;
    color: white;
    transition: background 0.5s ease;
}

/* .username-container {
    color: "black";
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    justify-content: "center";
    border-color: "#e6e6e6";
    width: 300;
    height: 20;
} */

textarea {
    background-color: #e6e6e6;
    border-color: #e6e6e6;
    border-radius: 10px;
    /* width: 270px; */
    width: 20vw;
    height: 23px;
    padding: 10px;
    margin-bottom: 30px;
    resize: horizontal;
    font-family: 'Poppins', sans-serif;
    line-height: 23px;

}


/* textarea {
    color: black;
    background-color: "#e6e6e6";
    padding: 10;
    border-radius: 10;
    justify-content: center;
    border-color: #e6e6e6;
    width: 300;
    height: 20;
} */
    
    /* color: "black",
        backgroundColor: "#e6e6e6",
        padding: 10,
        borderRadius: 10,
        justifyContent: "center",
        borderColor: "#e6e6e6",
        width: 300,
        height: 20, */
