.top-text {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: #2b3d55
}

.subhead-text {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    color: #2b3d55;
    margin-bottom: 15px
}

.form-container {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.non-user-form-container {
    display: flex;
    justify-content: center;
}

.input-container {
    width: 70vw; 
    margin-top: 50px;
    position: relative;
}

.textarea-input {
    color: black;
    background-color: #e6e6e6;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
    border: 1px solid #e6e6e6;
    width: 70vw; 
    height: 20vh; 
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.textarea-input2 {
    color: black;
    background-color: #e6e6e6;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
    border: 1px solid #e6e6e6;
    width: 70vw; 
    height: 5vh; 
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.textarea-input::placeholder {
    color: rgb(154, 154, 154);
    font-family: 'Poppins' sans-serif;
    font-size: 15px;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
  
.button-container {
    display:flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 10px;
}

.go-button {
    border: 1px solid white;
    background: #2b3d55;
    padding: 10px;
    border-radius: 30px;
    width: 100px;
    color: white;
    transition: background 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-decoration: none;
    border-color: #2b3d55;
    border-width: 2px;
}

.go-button:hover {
    background: white;
    color: #2b3d55;
}

.article-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}
.article-text {
    background-color: #e6e6e6;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
    border: 1px solid #e6e6e6;
    width: 90%; 
    height: 20vh; 
    font-family: 'Poppins', sans-serif;
}

.results-container{
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 60px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.results-article-link-text {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    margin: 0;
    display: grid;
    font-weight: bold;
}