.top-text {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: #2b3d55
}

.subhead-text {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    color: #2b3d55;
    margin-bottom: 15px
}

.form-container {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.input-container {
    width: 70vw; 
    margin-top: 50px;
    position: relative;
}

.textarea-input {
    color: black;
    background-color: #e6e6e6;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
    border: 1px solid #e6e6e6;
    width: 70vw; 
    height: 20vh; 
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.textarea-input2 {
    color: black;
    background-color: #e6e6e6;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
    border: 1px solid #e6e6e6;
    width: 70vw; 
    height: 5vh; 
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.textarea-input::placeholder {
    color: rgb(154, 154, 154);
    font-family: 'Poppins' sans-serif;
    font-size: 15px;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
  
.button-container {
    display:flex;
    justify-content: flex-end;
    width: 100%;
}

.go-button {
    border: 1px solid white;
    background: white;
    padding: 20px;
    border-radius: 30px;
    width: 100px;
    color: #2b3d55;
    transition: background 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-decoration: none;
}

.go-button:hover {
    background: #2b3d55;
    color: white;
}

.article-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}
.article-text {
    background-color: #e6e6e6;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
    border: 1px solid #e6e6e6;
    width: 90%; 
    height: 20vh; 
    font-family: 'Poppins', sans-serif;
}