.login-container {
    position: relative;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f9;
    border-radius: 20px;
    /* margin-bottom: 100px; */
    /* padding: ; */
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 700px;
}

.title{
    font-size: 25px;
    font-weight: bold;
    color: #2b3d55;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.textinput {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    width: 30vh;
}

.login-button {
    border: 1px solid white;
    background: #3D5779;
    color: white;
    padding: 20px;
    width: 200px;
    height: 35px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.5s ease, color 0.5s ease;
    text-decoration: none;
    font-size: 15px;
    border-color: #3D5779;
    border-width: 2px;
    margin-bottom: 100px;
}

.login-button:hover {
    background: white;
    color: #2b3d55;
    border-color: #3D5779;
    border-width: 2px;
}


.create-account{
    margin-top: 20px;
    font-size: 15px;
}

.create-account-link{
    color: #3D5779;
    font-size: 15px;
}

.create-account-link:hover{
    text-decoration: none;
}

.error {
    color: red;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
}

.account-details {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    justify-content: center;
}