.navbar {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    margin: 0;
    display: grid;
    background-color: #3D5779;
    color: white;
    padding: 20px 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 95%;
}

.navbar-logo {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 30px;
    margin-left: 10px;
}

.navbar-links a:hover {
    background-color: #2b3d55;
    color: #fff;
    border-radius: 30px;
}