.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
  width: 70vw;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: fit-content;
  margin: 0 auto;
}

.topic-box {
  background-color: #d9d9d9;
  color: black;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.topic-box:hover {
  background-color: #989898;
  transform: scale(1.05);
}

.topic-box.selected {
  background-color: #4caf50;
}
